body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: 'Arial', sans-serif;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: fadeIn 1.5s ease;
}

h1 {
  color: #ff4d6d;
}

.message {
  margin: 15px 0;
  color: #444;
}

.photos {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.photo {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 15px;
}


button {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #e63e5c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
